<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AiDUCATION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Social Media + AI Safety</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <div>
        <p>So you want to learn about staying safe on social media and navigating the wonderful 
        world of artificial intelligence? Well, let’s go! Picture your social media profiles as super secret clubs – you want to keep them private 
        so only your ride-or-die buddies get in on the action. Before you let someone crash the 
        party, make sure they're the real deal. Examine profile details and pictures to make sure 
        each person is who they say they are. It's like having a bouncer at your digital door! </p>

        <p>Speaking of pictures, make sure you keep your own pictures and videos locked in super-secret 
        treasure chests. This will keep them safe from the AI wizards. What are AI wizards you ask? Well, AI is like having super-genius robots, and deepfakes are 
        their spooky creations. These spooky creations can be fun, but they can also be scary! They're 
        still new and there aren't many rules to keep you safe – but don't worry, we're here to help you 
        learn the ropes! </p>

        <h3>How to Stop the AI Wizards:</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Avoid Spooky Internet Spaces</b>
                <p> Stay away from corners of the internet that you're unfamiliar with and only visit 
                    websites you trust.</p>
            </li>
            <li class="list-group-item">
                <b>Use Superhero Strong Passwords</b>
                <p>Passwords should be long enough to keep the wizards out but easy for you to remember. Keep
                   your passwords between you and your trusted crew.</p>
            </li>
            <li class="list-group-item">
                <b>Get a Little Artsy</b>
                <p>Boring wizards hate creative kids like you! Add a watermark to your pictures and videos
                    before posting to make it harder for the wizards to use.</p>
            </li>
            <li class="list-group-item">
                <b>Be a Digital Superhero</b>
                <p>Do your part to keep the internet safe! Report spooky wizard activity to your parent or 
                    teacher if you see any spooky wizard activities on the internet.</p>
            </li>
        </ul>
        
        Don’t let us spook you! The internet is a big playground and there’s many fun games and cool friends 
        to find. But like any playground, it’s important to stay safe while you're on it.

    </div>
</body>
</html>