{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Good practice when talking to strangers!</h1>
    <div class="flex-row d-flex">
        <div class="float-left w-75 p-2 pr-5">
            <div class="paragraph">
                Of course, an adventure is incomplete without meeting new friends! However, on
                our journey of building connections with people on the other side of the world,
                it’s essential to be mindful of the personal information we disclose. Imagine
                chatting with a stranger on the street, you wouldn’t reveal your address and
                phone number right? Similarly, we shouldn’t share sensitive information to the
                new friends we meet online. Here are some important factor to keep in mind when
                you chat with your new Internet friends:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Use nicknames</b>
                        <p> By not revealing your real name, you can protect your identity from
                            being exposed to strangers, and lower the chance of being stalked.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <b>Be Aware of links and files</b>
                        <p>Unless you are totally confident that the file and links are safe, do
                            not download/click on it. Suspicious links and files can make your
                            computer vulnerable to hackers.</p>
                    </li>
                    <li class="list-group-item">
                        <b>Keep your secret</b>
                        <p>You never know who sits on the other side of the computer, so make
                            sure not to tell them your secret, personal information and other
                            private stuff!</p>
                    </li>
                    <li class="list-group-item">
                        <b>Verify their identity</b>
                        <p>If your real-world friend sends you something suspicious on the
                            Internet, it’s possible that their account has been hacked! In this
                            case, try to double-check with your friends and make sure that the
                            person you're talking to is actually the person you know.</p>
                    </li>
                </ul>
                
                Although we want to trust that the world is full of friendly faces, it's
                important to keep in mind that, unfortunately, there are individuals with
                malicious intentions. By maintaining good practices of caution, awareness, and
                privacy, we can enjoy our online adventures while prioritizing our safety and
                security!
        
            </div>
        </div>
        <div class="float-right w-50 p-3 m-3 chatbox align-bottom" 
             style="background-color:lightblue;display: flex; vertical-align: bottom; border-radius: 10px; max-height: 80vh; overflow-y: hidden;">
             <div style="display: inline-block; width: 100%;">
                <div style="display: flex; flex-direction:column; height: 90%; justify-content: end;">
                    <p class="p-2" style="display: inline-block; background-color: beige; width: fit-content; border-radius: 10px;">Hello, <br> What question do you have for me?</p> 
                    {% for i in range(0,arg1) %} 
                        <div class="pl-5" style="text-align: end;">
                            <p class="p-2" style="text-align: left; display: inline-block; background-color: white; width: fit-content; max-width: 90%; border-radius: 10px; overflow-wrap: break-word;">{{arg2[i]}}</p> 
                        </div>
                        <p class="p-2 mr-2" style="display: inline-block; background-color: beige; width: fit-content; max-width: 90%; border-radius: 10px; overflow-wrap: break-word;">{{arg0[i]}}</p> 
                    {% endfor %}        
                </div>
                <form class="d-flex pt-3 align-bottom "id="chat" action="#" method="post" onsubmit="submitForm();"
                      style="justify-content: space-between;">
                    <p style="display: flex; min-width: 80%;">
                        <input type="text" id="qns" name="qns" onkeydown="checkEnter(event)" autofocus
                               style="min-width: 100%; resize: both;">
                    </p>
                    <p><input class="btn btn-primary" type="submit" value="submit"></p>
                </form>                
             </div>
        </div>

    </div>
    <script>
        function checkEnter(event) {
          if (event.key === "Enter") {
            event.preventDefault();
            submitForm();
          }
        }
        function submitForm() {
            document.getElementById("chat").submit();
            document.getElementById("qns").focus();
        }
      </script>

{% endblock %}